<div class="row">
    <nav class="navbar navbar-static-top" role="navigation">
         <div class="logo-container">
            <a href=""><span class="logo-style">Innoplexus </span><span>Demo</span></a>
        </div>
        <ul class="nav navbar-top-links pull-right">
            <li id="rhide">
                <span class="m-r-sm text-muted">Welcome <strong>{{appUserName}}</strong></span>
            </li>
            <li>
                <a href="javascript:void(0)" ng-click="signOut()">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="clearfix"></div>
