<div class="col-lg-12 col-md-12"> 
   
    <div class="panel-group dis" id="goal-accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title cursor" style="width: 100%">
                                <a data-toggle="collapse" class=" headercolor" style="font-family: sans-serif;"
                                   data-parent="#goal-accordion" data-target="#Article1"
                                   aria-expanded="false">Latest Article</a>
                            </h4>
                        </div>
                        <div id="Article1" class="panel-collapse collapse screen"
                             aria-expanded="false">
                            <div class="panel-body">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="vm.showFirst">
                                <div class="pointer">
                                <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true" ng-click="vm.changeArticle('preFirst')"></i>
                                <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true" ng-click="vm.changeArticle('nextFirst')"></i>
                                <i class="fa fa-times-circle fa-3x closeArticle" aria-hidden="true" data-toggle="collapse" data-parent="#goal-accordion" data-target="#Article1" aria-expanded="false"></i>
                                </div>
                               
                                    <section>
                                         <article class="col-lg-12 col-md-12 articleBlock">
                                         <div class="col-lg-10 col-md-10 articleblock">
                                              <h2>What should you never say to a programmer?</h2>
                                        <span>Well, as a programmer myself, there are a lot of things that I find immensely annoying. I usually ignore them, but I figured that this would be a good chance to rant a bit, so without further ado, here’s my list in no particular order:</span><br>
                                        <ul>
                                        <li><strong>I have this great app idea, and if you code it for me, I’ll give you a percentage of my company:</strong> <p>Like really dude? REALLY? Had it ever occurred to these people that we could just code the app, and keep 100% of the company? And furthermore, why is it that every time a person approaches me with something like this, it’s never a good idea. Might be related to their inadequate logical thinking.</p></li>
                                        <li>
                                            <strong>Programmers are highly overpaid:</strong>
                                            <p>Like, shut up man, be cool, we don’t want people to find out… But seriously though, programming has a low entry barrier, I admit, but to actually be a respectable developer, and be paid as such, it would take you years of learning and practice, not to mention enough passion and love for the craft, to keep improving yourself and stay on top of the game.</p>
                                        </li>
                                        <li>
                                            <strong>Can you teach me how to code, and help me land a job:</strong>
                                            <p>I have nothing against people who want to learn new skills and improve their life. But to be honest, no one has the time nor the patience to teach anyone something as complicated as development on their own time, unless they’re being paid for it. I’d however be more than happy to help someone who approaches me with: “Been learning coding for a few months now, and I can’t seem to wrap my head around this concept”. Now this is someone who shows initiative, I feel more inclined to help.<p>
                                        </li>
                                        <li><strong>I loved the demo you sent us, but i showed it to my assistant, associate, partner, wife, gardener and pizza delivery guy, and I’ve compiled this 300 pages list of their notes</strong>
                                        <p> People like this, are the reason I drink.</p>
                                        </li>
                                        <li>
                                            <strong>This should be an easy feature to implement:</strong>
                                           <p> Clients don’t really have an understanding of what constitutes hard and easy, and it’s really understandable, but c’mon guys, seriously. Stop. What you might consider as hard, can take a couple of hours to implement, and what you’d consider easy can take a few years and a couple of million dollars. So how about you pitch your ideas, and let us professionals decide what’s easy and what’s not.</p>
                                        </li>
                                        <li>
                                            <strong>Ow! You’re a programmer? Can you fix my printer?:</strong>
                                           <p> F*ck you, and f*ck your piece of sh*t printer. </p>
                                        </li>
                                        Reference : <a href="https://www.quora.com/What-should-you-never-say-to-a-programmer">Quora</a>
                                        </ul>
                                         </div>
                                        <div class="col-lg-2 col-md-2">
                                            <img src="https://www.gstatic.com/webp/gallery3/4_webp_ll.png" class="add1">

                                        </div>
                                          </article>
                                          

                                    </section>
                                </div>


                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="vm.showSecond">
                                   <div class="pointer">
                                        <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true" ng-click="vm.changeArticle('preSecond')"></i>
                                <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true" ng-click="vm.changeArticle('nextSecond')"></i>
                                   <i class="fa fa-times-circle fa-3x closeArticle" aria-hidden="true" data-toggle="collapse" data-parent="#goal-accordion" data-target="#Article1" aria-expanded="false"></i>
                                   </div>
                                    <section>
                                         <article class="col-lg-12 col-md-12 articleBlock">
                                         <div class="col-lg-10 col-md-10 articleblock">
                                           <h2>What is the best way to memorize or remember what you study/read?</h2>
                                            <span>Understanding how to get the most out of your time reading starts with understanding why we remember things at all, and then figuring out the best way to use that knowledge</span><br>
                                            <p>So let’s start with the basics.For the purposes of reading retention, we can think of our memory as being basically made up of three components:</p>
                                            <ul>
                                                <li>Impression</li>
                                                <li>Association</li>
                                                <li>Repetition</li>
                                            </ul>
                                            <p>Let’s go through each one and see how we can make sure we’re giving ourselves the best chance of retaining what we’re reading.</p>
                                                <strong>Impression - reading with intention</strong>
                                            <p>When you’re impressed by something, there’s a much higher probability you’ll remember it.This could mean a phrase or quote that changes the way you think, or an interesting fact that you’ll want to teach someone later on.Just like a teacher masters a subject because they’ll have to explain it later on, attacking a book with this same level of purpose means you’ll be able to recall information a lot quicker down the road.</p>
                                            <strong>BEFORE READING:</strong>
                                            <p>Ruin the ending. Read reviews and summaries of the work.You’re trying to learn why something happened, so the what is secondary. Frame your reading with knowledge around the subject and perspective of what’s being said and how it relates to the larger topic.</p>
                                            <strong>DURING READING:</strong>
                                            <p>Have a specific purpose in mind and stick to it. Don’t let your mind be the river that sweeps your thoughts away as you read.Be a ruthless notetaker. Your librarian might kill you for this, but using a technique such as marginalia (writing notes in the margin and marking up key patterns for follow ups), will make you a more active reader and help lock information in your memory.</p>
                                            <strong>AFTER READING:</strong>
                                            <p>Engage with the material. Write a high-level idea of the main ideas you want to recall or use, research supporting topics and ideas noting how they connect with what you’ve read , and then present, discuss, or write about your final ideas.</p>
                                         
                                            For Brief please visit : <a href="https://www.quora.com/What-is-the-best-way-to-memorize-or-remember-what-you-study-read">Quora</a>
                                         </div>
                                        <div class="col-lg-2 col-md-2">
                                           <img src="https://www.gstatic.com/webp/gallery3/3_webp_a.png" class="add1">
                                        </div>
                                          </article>
                                          

                                    </section>
                                </div>


                            </div>
                        </div>
                    </div>


    </div>

    <div ng-show="vm.articleShow">
            <h2>Articles</h2>
   
    <div class="col-lg-9 col-md-9">
             
        <article class="col-lg-12 col-md-12 articleBlock">
            <h2>What should you never say to a programmer?</h2>
            <span>Well, as a programmer myself, there are a lot of things that I find immensely annoying. I usually ignore them, but I figured that this would be a good chance to rant a bit, so without further ado, here’s my list in no particular order:</span><br>
            <ul>
            <li><strong>I have this great app idea, and if you code it for me, I’ll give you a percentage of my company:</strong> Like really dude? REALLY? Had it ever occurred to these people that we could just code the app, and keep 100% of the company? And furthermore, why is it that every time a person approaches me with something like this, it’s never a good idea. Might be related to their inadequate logical thinking.</li>

            </ul>
            <a ng-click="vm.openArticle('1')">Click to read more...</a>
        </article>
         <article class="col-lg-12 col-md-12 articleBlock">
            <h2>What is the best way to memorize or remember what you study/read?</h2>
            <span>Understanding how to get the most out of your time reading starts with understanding why we remember things at all, and then figuring out the best way to use that knowledge</span><br>
            <span>So let’s start with the basics.For the purposes of reading retention, we can think of our memory as being basically made up of three components:</span><br>
            <ul>
                <li>Impression</li>
                <li>Association</li>
                <li>Repetition</li>
            </ul>
    
            <a ng-click="vm.openArticle('2')">Click to read more...</a>
        </article>
    </div>

    <div class="col-lg-3 col-md-3">
        <article class="col-lg-12 col-md-12 articleSideBlock">
        <p>Block for advertisement or other functionality</p>
            <img src="http://www.gstatic.com/webp/gallery/5.jpg" class="imgBlock">
        </article>
    </div>
    </div>

    
</div>
